<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:replace="admin/fragments/fragment :: cabecalho"></div>

<body class="sb-nav-fixed">

<div th:replace="admin/fragments/fragment :: navbar"></div>

<div id="layoutSidenav">

    <div th:replace="admin/fragments/fragment :: sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <div class="container-fluid">
                <h1 class="mt-4">Agendar entrevista</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dados necessários</li>
                </ol>
            </div>
            <div class="container-fluid" style="margin-right: 20px; width: 95%;">
                <form class="input-group mb-3" method="get" action="/entrevista/nova">
                    <input type="text" name="cpf" class="form-control"
                           placeholder="Caso não seja o candidato, busque novamente.."
                           onkeypress="mascarar(this,mascaraDoCpf)" maxlength="14">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                    </div>
                    <div class="invalid-feedback">
                        Necessário informar o cpf do candidato.
                    </div>
                </form>
            </div>
            <form method="post" class="needs-validation" novalidate
                  style="margin-left: 20px;margin-right: 20px; margin-top: 20px;" id="formNovaEntrevista">
                <div class="container-fluid" style="width: 100%;">
                    <div class="input-group mb-3" style="width: 100%;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Candidato</span>
                        </div>
                        <input th:value="${cliente.nome}" name="nomeCliente" id="nomeCliente" type="text"
                               class="form-control" readonly="readonly">
                        <div class="input-group-prepend">
                            <span class="input-group-text">ID</span>
                        </div>
                        <input th:value="${cliente.id}" name="idCliente" id="idCliente" type="text" class="form-control"
                               readonly="readonly">
                    </div>
                    <div class="input-group mb-3">
                        <label for="data" class="col-2 col-form-label">Data</label>
                        <input class="form-control" type="date" name="data" pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}"
                               value="" id="data" required>
                        <div class="invalid-feedback">
                            Necessário informar a data.
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="horario" class="col-2 col-form-label">Hora</label>
                        <input class="form-control" type="time" name="horario" value="" id="horario" required>
                        <div class="invalid-feedback">
                            Necessário informar o horário.
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label class="col-2 col-form-label">Local</label>
                        <div class="col-10">
                            <input style="margin-left: -10px; width: 104%;" class="form-control" type="text"
                                   name="local" id="local">
                        </div>
                    </div>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Preenchimento e-mail</li>
                    </ol>
                    <div class="input-group mb-3">
                        <label class="col-2 col-form-label">Descrição remetente</label>
                        <div class="col-10">
                            <input style="margin-left: -11px; width: 102%;" class="form-control" type="text"
                                   name="mensagemEmail.remetente" id="remetente">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label class="col-2 col-form-label">Assunto</label>
                        <div class="col-10">
                            <input style="margin-left: -11px; width: 102%;" class="form-control" type="text"
                                   name="mensagemEmail.assunto" id="assunto">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label class="col-2 col-form-label">Corpo</label>
                        <div class="col-10">
                            <textarea id="summernote" type="text" class="form-control" name="mensagemEmail.corpo"
                                      placeholder="Texto *"></textarea>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Destinatário</span>
                        </div>
                        <input type="text" th:value="${email.destinatarios[0]}" name="mensagemEmail.destinatarios"
                               id="destinatarios"
                               class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                               readonly="readonly">
                    </div>
                    <div style="display:none">
                        <input id="esconderVaga" value="false">
                    </div>
                    <p>Ao clicar em 'Salvar' o candidato receberá um e-mail confirmando data e local</p>
                    <button class="btn btn-primary" style="margin-top: 10px;"
                            type="submit">Salvar
                    </button>
                </div>
            </form>
        </main>

        <div th:replace="admin/fragments/fragment :: footer"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/validarPostAdmin.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
</body>
</html>
