<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:replace="candidato/fragments/fragment :: cabecalho"></div>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="candidato/fragments/fragment :: sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="candidato/fragments/fragment :: topbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <div class="container-fluid">
                <h1 class="mt-4">Cadastro</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dados pessoais</li>
                    <div class="col">
                        <i type="button" class="editarVerde" id="enableDadosPessoais"></i>
                        <text class="card-text" id="labelPessoais">Editar</text>
                    </div>
                </ol>
                <form class="form-row" action="/dadosPessoais/atualizar" method="POST">
                    <div class="col-md-6 mb-3" >
                        <label for="validationServer01">Nome Completo </label>
                        <input type="text" class="form-control" th:field="*{dadosPessoais.nomeCompleto}" id="nome" value="" required disabled>
                        <div class="valid-feedback">
                            Ok!
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationServer04">Nome social</label>
                        <input type="text" class="form-control" th:field="*{dadosPessoais.nomeSocial}" id="nomeSocial" disabled>
                        <div class="invalid-feedback">
                            CPF não encontrado! Cadastre o cliente antes, ou digite novamente.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationServer04">Sexo</label>
                        <select class="form-control" th:field="*{dadosPessoais.sexo}" id="sexo" required disabled>
                            <option selected disabled value="">Escolher...</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Prefiro não declarar">Prefiro não declarar</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, selecione o sexo.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationServer01">Idade</label>
                        <input type="text" class="form-control" th:field="*{dadosPessoais.idade}" id="idade" required disabled>
                        <div class="invalid-feedback">
                            Necessário selecionar a idade.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationServer04">Naturalidade</label>
                        <input type="text" class="form-control" th:field="*{dadosPessoais.naturalidade}" id="naturalidade" required disabled>
                        <div class="invalid-feedback">
                            Naturalidade obrigatório.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationServer04">Pretensão salarial</label>
                        <input type="text" class="form-control" onkeypress="mascarar(this,moeda)" placeholder="0.000" th:field="*{dadosPessoais.pretensaoSalarial}" id="pretensaoSalarial" required disabled>
                        <div class="invalid-feedback">
                            Pretensão salarial obrigatória.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationServer04">Categoria</label>
                        <select class="form-control" th:field="*{dadosPessoais.categoria}" id="categoria" required disabled>
                            <option selected disabled value="">Escolher...</option>
                            <option value="CLT">CLT</option>
                            <option value="ESTAGIO">ESTAGIO</option>
                            <option value="JOVEMAPRENDIZ">JOVEM APRENDIZ</option>
                            <option value="PCD">PCD</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, selecione a categoria.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationServer04">Celular</label>
                        <input type="text" class="form-control" placeholder="(00) 000000-0000" maxlength="15" onkeypress="mascarar(this,mascaraTel)" th:field="*{dadosPessoais.celular}" id="celular" required disabled>
                        <div class="invalid-feedback">
                            Celular obrigatório, digite uma valor.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationServer04">Data Nascimento</label>
                        <input type="text" class="form-control" onkeypress="mascarar(this,data)" placeholder="dd/mm/aaaa" maxlength="10" th:field="*{dadosPessoais.dataNascimento}" id="dataNascimento" required disabled>
                        <div class="invalid-feedback">
                            Data de nascimento obrigatório, digite uma valor.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationServer04">Formação</label>
                        <select class="form-control" th:field="*{dadosPessoais.formacao}" id="formacao" required disabled>
                            <option selected disabled value="">Escolher...</option>
                            <option value="Ensino Médio Incompleto">Ensino Médio Incompleto</option>
                            <option value="Ensino Médio Completo">Ensino Médio Completo</option>
                            <option value="Ensino Superior Incompleto">Ensino Superior Incompleto</option>
                            <option value="Ensino Superior Completo">Ensino Superior Completo</option>
                            <option value="Pós-graduação Incompleta">Pós-graduação Incompleta</option>
                            <option value="Pós-graduação Completa">Pós-graduação Completa</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, selecione a formação.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3" >
                        <label for="validationServer01">Curso </label>
                        <input type="text" class="form-control" th:field="*{dadosPessoais.curso}" id="curso" value="" required = false disabled>
                        <div class="invalid-feedback">
                            Por favor, selecione o curso.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3" >
                        <label for="validationServer01">CPF</label>
                        <input type="text" class="form-control" th:field="*{dadosPessoais.cpf}" id="email" value="" required = false disabled>
                        <div class="invalid-feedback">
                            Por favor, selecione o CPF.
                        </div>
                    </div>
                    <div id="divDadosPessoais" style="display: none;">
                        <button type="submit" class="btn btn-success" id="botaoAtualizar2">
                            Atualizar
                        </button>
                    </div>
                </form>
                <div class="container-fluid">
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dados adicionais</li>
                        <div class="col">
                            <i type="button" class="editarVerde" id="enableDadosAdicionais"></i>
                            <text class="card-text" id="labelAdicionais">Editar</text>
                        </div>
                    </ol>
                </div>
                <form class="form-row" action="/dadosAdicionais/atualizar" method="POST">
                    <div class="col-md-3 mb-3">
                        <label for="validationServer04">CEP</label>
                        <input type="text" class="form-control" th:field="*{dadosAdicionais.cep}" onkeypress="mascarar(this,cepMask)" placeholder="00000-000" id="cep" required disabled>
                        <div class="invalid-feedback">
                            CEP obrigatório, digite uma valor.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationServer04">Estado</label>
                        <input type="text" class="form-control" th:field="*{dadosAdicionais.estado}" id="estado" required disabled>
                        <div class="invalid-feedback">
                            Estado obrigatório, digite uma valor.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label >Cidade: </label>
                        <select class="form-control" id="cidade" th:field="*{dadosAdicionais.cidade}" required disabled>
                            <option selected disabled value="">Selecione...</option>
                            <option value="Campinas">Campinas</option>
                            <option value="Hortolandia">Hortolândia</option>
                            <option value="Sumare">Sumaré</option>
                            <option value="Valinhos">Valinhos</option>
                            <option value="Vinhedo">Vinhedo</option>
                            <option value="Louveira">Louveira</option>
                            <option value="Monte-mor">Monte-mor</option>
                            <option value="Paulinia">Paulínia</option>
                            <option value="Indaiatuba">Indaiatuba</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationServer04">Bairro</label>
                        <input type="text" class="form-control" th:field="*{dadosAdicionais.bairro}" id="bairro" required disabled>
                        <div class="invalid-feedback">
                            Bairro obrigatório, digite uma valor.
                        </div>
                    </div>

                    <div class="col-md-6 mb-3" >
                        <label for="validationServer01">Rua </label>
                        <input type="text" class="form-control" th:field="*{dadosAdicionais.endereco}" id="rua" value="" required disabled>
                        <div class="invalid-feedback">
                            Por favor, selecione o endereço.
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="validationServer04">Número</label>
                        <input type="text" class="form-control" th:field="*{dadosAdicionais.numero}" id="numero" required disabled>
                        <div class="invalid-feedback">
                            Número obrigatório, digite uma valor.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationServer04">Referência</label>
                        <input type="text" class="form-control" th:field="*{dadosAdicionais.referencia}" id="referencia" disabled>
                    </div>
                    <div id="divDadosAdicionais" style="display: none; ">
                        <button type="submit" class="btn btn-success" id="botaoAtualizar3">
                            Atualizar
                        </button>
                    </div>
                </form>
                <div class="container-fluid" >
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Identidade</li>
                        <div class="col">
                            <i type="button" class="editarVerde" id="enableIdentidade"></i>
                            <text class="card-text" id="labelIdentidade">Editar</text>
                        </div>
                    </ol>
                </div>
                <form class="form-row" action="/registro/atualizar" method="POST">
                    <div class="col-md-3 mb-3">
                        <label for="validationServer04">Número RG</label>
                        <input type="text" class="form-control" th:field="*{registro.numero}" id="numeroRg" required disabled>
                        <div class="invalid-feedback">
                            Número RG obrigatório, digite uma valor.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationServer04">Órgão Emissor</label>
                        <input type="text" class="form-control" th:field="*{registro.orgaoEmissor}" id="orgao" required disabled>
                        <div class="invalid-feedback">
                            Órgão Emissor obrigatório, digite uma valor.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationServer04">Data Expedição</label>
                        <input type="text" class="form-control" onkeypress="mascarar(this,data)" placeholder="dd/mm/aaaa" maxlength="10" th:field="*{registro.dataExpedicao}" id="expedicao" required disabled>
                        <div class="invalid-feedback">
                            Data Expedição obrigatória, digite uma valor.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationServer04">Estado</label>
                        <input type="text" class="form-control" th:field="*{registro.estado}" id="estadoRg" required disabled>
                        <div class="invalid-feedback">
                            Estado obrigatório, digite uma valor.
                        </div>
                    </div>
                    <div id="divDadosIdentidade" style="display: none; ">
                        <button type="submit" class="btn btn-success" id="botaoAtualizar4">
                            Atualizar
                        </button>
                    </div>
                </form>

                <div class="container-sm">
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Experiências</li>
                        <div class="col">
<!--                            <i type="button" class="editarVerde" id="enableExperiencia"></i>-->
                            <text class="card-text" id="labelExperiencia">Editar</text>
                        </div>
                    </ol>
                </div>

                <div class="container-sm">
                    <div class="card shadow mb-3" style="margin-top: 20px;" th:each="experiencia : ${experiencias}">
                        <div class="card-header py-3">
                            <div class="row">
                                <h6 class="m-0 font-weight-bold text-primary" th:utext="${experiencia.cargo}"></h6>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <span class="font-weight-bold" th:utext="${experiencia.dataInicio}"></span>
                                    <span class="font-weight-bold"> - </span>
                                    <span class="font-weight-bold" th:utext="${experiencia.dataFim}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="font-weight-bold">Empresa: </span>
                                    <span class="font-weight-bold" th:utext="${experiencia.nomeEmpresa}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="font-weight-bold">Descrição cargo: </span>
                                    <span class="font-weight-bold" th:utext="${experiencia.descricao}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-sm">
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Resumo Profissional</li>
                        <div class="col">
<!--                            <i type="button" class="editarVerde" id="enableHabilidades"></i>-->
                            <text class="card-text" id="labelHabilidades">Editar</text>
                        </div>
                    </ol>
                </div>

                <div class="container-sm">
                    <div class="card shadow mb-3" style="margin-top: 20px;" th:each="habilidade : ${habilidade}">
                        <div class="card-header py-3">
                            <div class="row">
                                <h6 class="m-0 font-weight-bold text-primary">Resumo Profissional</h6>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <span class="font-weight-bold" th:utext="${habilidade.resumoProfissional}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-header py-3">
                            <div class="row">
                                <h6 class="m-0 font-weight-bold text-primary">Objetivos</h6>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <span class="font-weight-bold" th:utext="${habilidade.objetivos}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-sm">
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Projetos</li>
                        <div class="col">
<!--                            <i type="button" class="editarVerde" id="enableProjetos"></i>-->
                            <text class="card-text" id="labelExperiencia">Editar</text>
                        </div>
                    </ol>
                </div>

                <div class="container-sm">
                    <div class="card shadow mb-3" style="margin-top: 20px;" th:each="projeto : ${projetos}">
                        <div class="card-header py-3">
                            <div class="row">
                                <h6 class="m-0 font-weight-bold text-primary" th:utext="${projeto.nome}"></h6>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <span class="font-weight-bold" th:utext="${projeto.descricao}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-sm">
                    <div class="row">
                        <div class="col">
                            <hr class="sidebar-divider">
                        </div>
                        <div class="col">
                            <p class="font-weight-bold">Seus conhecimentos</p>
                        </div>
                        <div class="col">
                            <hr class="sidebar-divider">
                        </div>
                    </div>

                    <p class="font-weight-bold">Tecnologias:
                    <div th:each="tecnologia : ${tecnologias}">

                        <p class="card-text">º <span class="font-weight-bold" style="color:#1055e9;" th:text="${tecnologia.nome} "></span></p>
                    </div>

                    <hr class="sidebar-divider">
                    <p class="font-weight-bold">Frameworks:
                    <div th:each="framework : ${frameworks}">

                        <p class="card-text">º <span class="font-weight-bold" style="color:#1055e9;" th:text="${framework.nome} "></span></p>
                    </div>

                    <hr class="sidebar-divider">
                    <p class="font-weight-bold">Ferramentas:
                    <div th:each="ferramenta : ${ferramentas}">

                        <p class="card-text">º <span class="font-weight-bold" style="color:#1055e9;" th:text="${ferramenta.nome} "></span></p>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>


        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="candidato/fragments/fragment :: footer"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="candidato/fragments/fragment :: modalSair"></div>

<script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="/js/sb-admin-2.min.js"></script>
<script type="text/javascript" src="/js/validacoes.js"></script>
<script type="text/javascript" src="/vendor/chart.js/Chart.min.js"></script>
<script type="text/javascript" src="/js/demo/chart-area-demo.js"></script>
<script type="text/javascript" src="/js/demo/chart-pie-demo.js"></script>
</body>
</html>
