<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:replace="candidato/fragments/fragment :: cabecalho"></div>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="candidato/fragments/fragment :: sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="candidato/fragments/fragment :: topbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <main>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <div class="container-fluid">
                    <h1 class="mt-4">Cadastro</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dados pessoais</li>
                    </ol>
                </div>

                <form method="post" class="needs-validation" novalidate style="margin-left: 20px;margin-right: 20px; margin-top: 20px;">
                    <div class="form-row">
                        <div class="col-md-6 mb-3" >
                            <label for="validationNome">Nome Completo </label>
                            <input type="text" class="form-control" name="dadosPessoais.nomeCompleto" id="validationNome" value="" required = false>
                            <div class="valid-feedback">
                                Ok!
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationNomeSocial">Nome social</label>
                            <input type="text" class="form-control" name="dadosPessoais.nomeSocial" id="validationNomeSocial">
                            <div class="invalid-feedback">
                                CPF não encontrado! Cadastre o cliente antes, ou digite novamente.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationSexo">Sexo</label>
                            <select class="form-control" name="dadosPessoais.sexo" id="validationSexo" required>
                                <option selected disabled value="">Escolher...</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                                <option value="Prefiro não declarar">Prefiro não declarar</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, selecione o sexo.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationNaturalidade">Naturalidade</label>
                            <input type="text" class="form-control" name="dadosPessoais.naturalidade" id="validationNaturalidade" required>
                            <div class="invalid-feedback">
                                Naturalidade obrigatório.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationPretensao">Pretensão salarial</label>
                            <input type="text" class="form-control" onkeypress="mascarar(this,moeda)" placeholder="0.000" name="dadosPessoais.pretensaoSalarial" id="validationPretensao" required>
                            <div class="invalid-feedback">
                                Pretensão salarial obrigatória.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCategoria">Categoria</label>
                            <select class="form-control" name="dadosPessoais.categoria" id="validationCategoria" required>
                                <option selected disabled value="">Escolher...</option>
                                <option value="CLT">CLT</option>
                                <option value="ESTAGIO">ESTAGIO</option>
                                <option value="JOVEMAPRENDIZ">JOVEM APRENDIZ</option>
                                <option value="PCD">PCD</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, selecione a categoria.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCelular">Celular</label>
                            <input type="text" class="form-control" name="dadosPessoais.celular" placeholder="(00) 00000-0000" maxlength="15" onkeypress="mascarar(this,mascaraTel)" id="validationCelular" required>
                            <div class="invalid-feedback">
                                Celular obrigatório, digite uma valor.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationData">Data Nascimento</label>
                            <input type="text" class="form-control" onkeypress="mascarar(this,data)" placeholder="dd/mm/aaaa" maxlength="10" name="dadosPessoais.dataNascimento" id="validationData" required>
                            <div class="invalid-feedback">
                                Data de nascimento obrigatório, digite uma valor.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationFormacao">Formação</label>
                            <select class="form-control" name="dadosPessoais.formacao" id="validationFormacao" required>
                                <option selected disabled value="">Escolher...</option>
                                <option value="Ensino Médio Incompleto">Ensino Médio Incompleto</option>
                                <option value="Ensino Médio Completo">Ensino Médio Completo</option>
                                <option value="Ensino Superior Incompleto">Ensino Superior Incompleto</option>
                                <option value="Ensino Superior Completo">Ensino Superior Completo</option>
                                <option value="Pós-graduação Incompleta">Pós-graduação Incompleta</option>
                                <option value="Pós-graduação Completa">Pós-graduação Completa</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, selecione a formação.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3" >
                            <label for="validationCurso">Curso </label>
                            <input type="text" class="form-control" name="dadosPessoais.curso" id="validationCurso" value="" required = false>
                            <div class="invalid-feedback">
                                Por favor, selecione o curso.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3" >
                            <label for="validationEmail">CPF </label>
                            <input type="text" class="form-control" onkeypress="mascarar(this,cpf)" maxlength="14" name="dadosPessoais.cpf" id="validationEmail" value="" required = false>
                            <div class="invalid-feedback">
                                Por favor, selecione o Cpf.
                            </div>
                        </div>
                        <div class="container-fluid">
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active">Dados adicionais</li>
                            </ol>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="validationCep">CEP</label>
                            <input type="text" class="form-control" onkeypress="mascarar(this,cepMask)" placeholder="00000-000" maxlength="9" name="dadosAdicionais.cep" id="validationCep" required>
                            <div class="invalid-feedback">
                                CEP obrigatório, digite uma valor.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationEstado1">Estado</label>
                            <input type="text" class="form-control" name="dadosAdicionais.estado" id="validationEstado1" required>
                            <div class="invalid-feedback">
                                Estado obrigatório, digite uma valor.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label >Cidade: </label>
                            <select class="form-control" id="exampleSelect2" name="dadosAdicionais.cidade" required>
                                <option selected disabled value="">Selecione...</option>
                                <option value="Campinas">Campinas</option>
                                <option value="Hortolandia">Hortolândia</option>
                                <option value="Sumare">Sumaré</option>
                                <option value="Valinhos">Valinhos</option>
                                <option value="Vinhedo">Vinhedo</option>
                                <option value="Louveira">Louveira</option>
                                <option value="Monte-mor">Monte-mor</option>
                                <option value="Paulinia">Paulínia</option>
                                <option value="Indaiatuba">Indaiatuba</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationBairro">Bairro</label>
                            <input type="text" class="form-control" name="dadosAdicionais.bairro" id="validationBairro" required>
                            <div class="invalid-feedback">
                                Bairro obrigatório, digite uma valor.
                            </div>
                        </div>

                        <div class="col-md-6 mb-3" >
                            <label for="validationEndereco">Rua </label>
                            <input type="text" class="form-control" name="dadosAdicionais.endereco" id="validationEndereco" value="" required>
                            <div class="invalid-feedback">
                                Por favor, selecione o endereço.
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="validationNumero">Número</label>
                            <input type="text" class="form-control" name="dadosAdicionais.numero" id="validationNumero" onkeypress="mascarar(this,soNumeros)" required>
                            <div class="invalid-feedback">
                                Número obrigatório, digite uma valor.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationReferencia">Referência</label>
                            <input type="text" class="form-control" name="dadosAdicionais.referencia" id="validationReferencia">
                        </div>

                        <div class="container-fluid">
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active">Identidade</li>
                            </ol>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="validationRg">Número RG</label>
                            <input type="text" class="form-control" name="registro.numero" id="validationRg" required>
                            <div class="invalid-feedback">
                                Número RG obrigatório, digite uma valor.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationOrgao">Órgão Emissor</label>
                            <input type="text" class="form-control" name="registro.orgaoEmissor" id="validationOrgao" required>
                            <div class="invalid-feedback">
                                Órgão Emissor obrigatório, digite uma valor.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationDataExpedicao">Data Expedição</label>
                            <input type="text" class="form-control" onkeypress="mascarar(this,data)" placeholder="dd/mm/aaaa" maxlength="10" name="registro.dataExpedicao" id="validationDataExpedicao" required>
                            <div class="invalid-feedback">
                                Data Expedição obrigatória, digite uma valor.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationEstado2">Estado</label>
                            <input type="text" class="form-control" name="registro.estado" id="validationEstado2" required>
                            <div class="invalid-feedback">
                                Estado obrigatório, digite uma valor.
                            </div>
                        </div>

<!--                        <div class="container-fluid">-->
<!--                            <ol class="breadcrumb mb-4">-->
<!--                                <li class="breadcrumb-item active">Experiência</li>-->
<!--                                <button type="button" style="margin-left: 20px" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#experienciaModal">Adicionar</button>-->
<!--                            </ol>-->
<!--                        </div>-->

<!--                        <div class="container-md">-->
<!--                            <div class="card shadow mb-3" style="margin-top: 20px;" th:each="experiencia : ${experiencia}">-->
<!--                                <div class="card-header py-3">-->
<!--                                    <div class="row">-->
<!--                                        <h6 class="m-0 font-weight-bold text-primary" >Teste</h6>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="card-body">-->
<!--                                    <div class="row">-->
<!--                                        <div class="col">-->
<!--                                            <span class="font-weight-bold">Contrato -</span>-->
<!--                                            <span class="font-weight-bold" ></span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="row">-->
<!--                                        <div class="col">-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->


<!--                        <div class="container-fluid">-->
<!--                            <ol class="breadcrumb mb-4">-->
<!--                                <li class="breadcrumb-item active">Sobre suas habilidades</li>-->
<!--                            </ol>-->
<!--                        </div>-->

<!--                        <div class="form-group">-->
<!--                            <label for="validationServer04">Resumo profissional</label>-->
<!--                            <textarea class="form-control" name="habilidades.resumoProfissional" id="exampleFormControlTextarea1" style="width: 40vh;margin-right: 3px;" rows="3" required></textarea>-->
<!--                            <div class="invalid-feedback">-->
<!--                                Resumo profissional obrigatório, digite uma valor.-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="form-group">-->
<!--                            <label for="validationServer04">Objetivos</label>-->
<!--                            <textarea class="form-control" name="habilidades.objetivos" id="exampleFormControlTextarea2" style="width: 40vh;" rows="3" required></textarea>-->
<!--                            <div class="invalid-feedback">-->
<!--                                Objetivos obrigatório, digite uma valor.-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="col-md-6 mb-3" >-->
<!--                            <label for="validationServer01">Adidione até 5 habilidades - Conhecimentos/Cursos/Treinamentos</label>-->
<!--                            <input style="margin-top: 3px;"type="text" class="form-control" name="habilidades.descricao[0]" id="validationServer01" value="" >-->
<!--                            <input style="margin-top: 3px;"type="text" class="form-control" name="habilidades.descricao[1]" id="validationServer02" value="" >-->
<!--                            <input style="margin-top: 3px;"type="text" class="form-control" name="habilidades.descricao[2]" id="validationServer03" value="" >-->
<!--                            <input style="margin-top: 3px;"type="text" class="form-control" name="habilidades.descricao[3]" id="validationServer04" value="" >-->
<!--                            <input style="margin-top: 3px;"type="text" class="form-control" name="habilidades.descricao[4]" id="validationServer05" value="" >-->
<!--                        </div>-->
<!--                    </div>-->
                    <button class="btn btn-primary" style="margin-top: 10px;"
                            type="submit">Salvar
                    </button>
                    </div>
                </form>
            </main>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="candidato/fragments/fragment :: footer"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="candidato/fragments/fragment :: modalSair"></div>

<!-- Bootstrap core JavaScript-->
<script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script type="text/javascript" src="/js/sb-admin-2.min.js"></script>
<script type="text/javascript" src="/js/validacoes.js"></script>

<!-- Page level plugins -->
<script type="text/javascript" src="/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script type="text/javascript" src="/js/demo/chart-area-demo.js"></script>
<script type="text/javascript" src="/js/demo/chart-pie-demo.js"></script>

</body>
</html>
