<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - MAC Admin</title>
    <!--        <link href="css/styles.css" rel="stylesheet" />-->
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin">MAC Barbosa</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button
><!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" action="/vaga/buscarPorNome" method="get">
        <div class="input-group">
            <input class="form-control" name="nome" type="text" placeholder="Buscar vaga..." aria-label="Search" aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/configuracao/alterar">Configurações</a>
                <a class="dropdown-item" href="/empresa/gerenciar">Meu perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/sair">Sair</a>
            </div>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Inicio</div>
                    <a class="nav-link" href="/admin"
                    ><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard</a
                    >
                    <div class="sb-sidenav-menu-heading">Menu</div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Candidatos
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                        ></a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/filtro/buscarNome">Buscar</a>
                            <a class="nav-link" href="/filtro/selecionar">Filtrar</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVaga" aria-expanded="false" aria-controls="collapsePages"
                    ><div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Vagas
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                        ></a>
                    <div class="collapse" id="collapseVaga" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/vaga/criar">Cadastrar</a>
                            <a class="nav-link" href="/vaga/listar">Painel</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEntrevista" aria-expanded="false" aria-controls="collapsePages"
                    ><div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Entrevistas
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                        ></a>
                    <div class="collapse" id="collapseEntrevista" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/entrevista/selecionar">Agendar</a>
                            <a class="nav-link" href="/entrevista/listar">Agendadas</a>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading">Filtros</div>
                    <a class="nav-link" href="/vaga/listar"
                    ><div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Vagas</a
                    ><a class="nav-link" href="/entrevista/listar"
                ><div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Entrevistas</a
                >
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Login por:</div>
                MAC Barbosa
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <div class="container-fluid">
                <h1 class="mt-4">Atualição de Vaga</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dados necessários</li>
                </ol>
            </div>
            <form method="post" class="needs-validation"
                  novalidate style="margin-left: 20px;margin-right: 20px; margin-top: 20px;" id="formAtualizarVaga">
                <div class="form-row">
                    <div class="col-md-6 mb-3" >
                        <label for="titulo">Título </label>
                        <input type="text" class="form-control" th:field="*{vaga.titulo}" id="titulo" value="" required = false>
                        <div class="valid-feedback">
                            Ok!
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cidade">Status</label>
                        <input type="text" class="form-control" th:field="${vaga.status}" id="status" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label for="quantidade">Quantidade</label>
                        <input type="text" class="form-control" th:field="*{vaga.quantidade}" id="quantidade" required>
                        <div class="invalid-feedback">
                            Digite a quantidade de vagas.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cidade">Cidade</label>
                        <input type="text" class="form-control" th:field="*{vaga.cidade}" id="cidade" required>
                        <div class="invalid-feedback">
                            Necessário selecionar a cidade.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="categoria">Categoria</label>
                        <select class="form-control" th:field="*{vaga.categoria}" id="categoria" required>
                            <option selected disabled value="">Escolher...</option>
                            <option value="CLT">CLT</option>
                            <option value="ESTAGIO">ESTAGIO</option>
                            <option value="JOVEMAPRENDIZ">JOVEM APRENDIZ</option>
                            <option value="PCD">PCD</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, selecione a categoria.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label >Formação: </label>
                        <select class="form-control" id="formacao" th:field="*{vaga.formacao}" required>
                            <option selected disabled value="">Selecione..</option>
                            <option value="Ensino Medio Incompleto">Ensino Médio Incompleto</option>
                            <option value="Ensino Medio Completo">Ensino Médio Completo</option>
                            <option value="Ensino Superior Incompleto">Ensino Superior Incompleto</option>
                            <option value="Ensino Superior Completo">Ensino Superior Completo</option>
                            <option value="Pos-graduacao Incompleta">Pós-graduação Incompleta</option>
                            <option value="Pos-graduacao Completa">Pós-graduação Completa</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, selecione a formação.
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="validationSalario">Salário</label>
                        <input type="text" class="form-control" th:field="*{vaga.salario}" onkeypress="mascarar(this,moeda)" id="validationSalario">
                    </div>
                    <div class="col-md-6 mb-3" >
                        <label for="observacao">Alguma observação? </label>
                        <input type="text" class="form-control" th:field="*{vaga.observacao}" id="observacao" value="">
                        <div class="valid-feedback">
                            Ok!
                        </div>
                    </div>
                    <div class="col-md-6 mb-3" >
                        <label for="beneficio4">Benefícios</label>
                        <input style="margin-top: 3px;"type="text" class="form-control" th:field="*{vaga.beneficios[0]}"  id="beneficio1" value="" >
                        <input style="margin-top: 3px;"type="text" class="form-control" th:field="*{vaga.beneficios[1]}"  id="beneficio2" value="" >
                        <input style="margin-top: 3px;"type="text" class="form-control" th:field="*{vaga.beneficios[2]}"  id="beneficio3" value="" >
                        <input style="margin-top: 3px;"type="text" class="form-control" th:field="*{vaga.beneficios[3]}"  id="beneficio4" value="" >
                    </div>
                    <div class="col-md-6 mb-3" >
                        <label for="habilidade3">Adidione até 5 habilidades - Conhecimentos/Cursos/Treinamentos</label>
                        <input style="margin-top: 3px;"type="text" class="form-control" th:field="*{vaga.descricaoHabilidades[0]}"  id="habilidade1" value="" >
                        <input style="margin-top: 3px;"type="text" class="form-control" th:field="*{vaga.descricaoHabilidades[1]}" id="habilidade2" value="" >
                        <input style="margin-top: 3px;"type="text" class="form-control" th:field="*{vaga.descricaoHabilidades[2]}" id="habilidade3" value="" >
                        <input style="margin-top: 3px;"type="text" class="form-control" th:field="*{vaga.descricaoHabilidades[3]}" id="habilidade4" value="" >
                        <input style="margin-top: 3px;"type="text" class="form-control" th:field="*{vaga.descricaoHabilidades[4]}" id="habilidade5" value="" >
                    </div>
                    <div class="col-md-6 mb-4" style="margin-left: 2px;">
                        <label for="responsabilidades">Responsabilidades</label>
                        <textarea class="form-control" th:field="*{vaga.responsabilidade}" id="responsabilidades" style="width: 40vh;margin-right: 3px;" rows="3"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="dataLimite">Data limite para inscrição</label>
                            <input type="text" class="form-control" onkeypress="mascarar(this,mascaraData)" maxlength="10"
                                   th:field="*{vaga.dataLimite}" id="dataLimite">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="turno">Turno</label>
                            <input type="text" class="form-control" th:field="*{vaga.turno}" id="turno">
                        </div>
                    </div>

                </div>
                <div style="display:none">
                    <input id="esconderVaga" value="false">
                </div>
                <div style="display:none">
                    <input id="numeroInscritos" value="false" th:field="*{vaga.numeroInscritos}">
                </div>
                <div style="display:none">
                    <input id="idVaga" value="false" th:field="*{vaga.id}">
                </div>
                <button class="btn btn-primary" style="margin-top: 10px;"
                        type="submit">Salvar
                </button>
            </form>
            <div class="col-sm-7" id="postResultDiv">
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Feito por Thiago Camargo 2020</div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/validarPostAdmin.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/datatables-demo.js"></script>
</body>
</html>
