<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:replace="admin/fragments/fragment :: cabecalho"></div>

<body class="sb-nav-fixed">

<div th:replace="admin/fragments/fragment :: navbar"></div>

<div id="layoutSidenav">

    <div th:replace="admin/fragments/fragment :: sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <section>
                <div class="container-md" style="width: 100%;">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                            <li class="breadcrumb-item"><a href="/vaga/listar">Vagas</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Vaga atual</li>
                        </ol>
                    </nav>
                    <div class="card shadow-sm bg-white rounded" style="margin-top: 20px" th:each="vaga : ${vaga}">
                        <div class="card-body" th:each="vaga : ${vaga}">
                            <div class="row">
                                <div class="col">
                                    <p class="card-text">Título : <span style="color:#FF0000;"
                                                                        th:utext="${#strings.abbreviate(vaga.titulo,400)} "></span>
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="card-text">Quantidade de vagas : <span style="color:#FF0000;"
                                                                                     th:utext="${#strings.abbreviate(vaga.quantidade,400)} "></span>
                                    </p>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 8px;">
                                <div class="col">
                                    <p class="card-text">Cidade : <span style="color:#FF0000;"
                                                                        th:utext="${#strings.abbreviate(vaga.cidade,400)} "></span>
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="card-text">Categoria : <span style="color:#FF0000;"
                                                                           th:utext="${#strings.abbreviate(vaga.categoria,400)} "></span>
                                    </p>
                                </div>
                            </div>
                            <br>
                            <p class="card-text">Formação : <span style="color:#FF0000;"
                                                                  th:utext="${#strings.abbreviate(vaga.formacao,400)} "></span>
                            </p>
                            <p class="card-text">Responsabilidades : <span style="color:#FF0000;"
                                                                           th:utext="${vaga.responsabilidade} "></span>
                            </p>
                            <p class="card-text">Salário : <span style="color:#FF0000;"
                                                                 th:utext="${#strings.abbreviate(vaga.salario,400)} "></span>
                            </p>
                            <p>Benefícios :
                            <div th:each="beneficios : ${beneficios}">

                                <p class="card-text">º <span style="color:#FF0000;" th:utext="${beneficios} "></span>
                                </p>
                            </div>
                            </p>
                            <p class="card-text">Observação : <span style="color:#FF0000;"
                                                                    th:utext="${#strings.abbreviate(vaga.observacao,400)} "></span>
                            </p>
                            <p class="card-text">Data limite para inscrição : <span style="color:#FF0000;"
                                                                                    th:utext="${#strings.abbreviate(vaga.dataLimite,400)} "></span>
                            </p>
                            <p class="card-text">Número inscritos : <span style="color:#FF0000;"
                                                                          th:utext="${#strings.abbreviate(vaga.numeroInscritos,400)} "></span>
                            </p>
                            <p>Habilidades :
                            <div th:each="listaHabilidades : ${listaHabilidades}">

                                <p class="card-text">º <span style="color:#FF0000;"
                                                             th:utext="${listaHabilidades} "></span></p>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

        </main>

        <div th:replace="admin/fragments/fragment :: footer"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/datatables-demo.js"></script>
</body>
</html>
