<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:replace="admin/fragments/fragment :: cabecalho"></div>

<body class="sb-nav-fixed">

<div th:replace="admin/fragments/fragment :: navbar"></div>

<div id="layoutSidenav">

    <div th:replace="admin/fragments/fragment :: sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <div class="container-fluid">
                <h1 class="mt-4">Cadastro Nova Vaga</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dados necessários</li>
                </ol>
            </div>
            <form method="post" class="needs-validation" novalidate style="margin-left: 20px;margin-right: 20px; margin-top: 20px;">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="titulo">Título </label>
                        <input type="text" class="form-control" name="titulo" id="titulo" value="" required=false>
                        <div class="valid-feedback">
                            Ok!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label for="quantidade">Quantidade</label>
                        <input type="text" class="form-control" name="quantidade" id="quantidade" required>
                        <div class="invalid-feedback">
                            Digite a quantidade de vagas.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cidade">Cidade</label>
                        <input type="text" class="form-control" name="cidade" id="cidade" required>
                        <div class="invalid-feedback">
                            Necessário selecionar a cidade.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="categoria">Categoria</label>
                        <select class="form-control" name="categoria" id="categoria" required>
                            <option selected disabled value="">Escolher...</option>
                            <option value="CLT">CLT</option>
                            <option value="ESTAGIO">ESTAGIO</option>
                            <option value="JOVEMAPRENDIZ">JOVEM APRENDIZ</option>
                            <option value="PCD">PCD</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, selecione a categoria.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>Formação: </label>
                        <select class="form-control" id="formacao" name="formacao" required>
                            <option selected disabled value="">Selecione..</option>
                            <option value="Ensino Medio Incompleto">Ensino Médio Incompleto</option>
                            <option value="Ensino Medio Completo">Ensino Médio Completo</option>
                            <option value="Ensino Superior Incompleto">Ensino Superior Incompleto</option>
                            <option value="Ensino Superior Completo">Ensino Superior Completo</option>
                            <option value="Pos-graduacao Incompleta">Pós-graduação Incompleta</option>
                            <option value="Pos-graduacao Completa">Pós-graduação Completa</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, selecione a formação.
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="validationSalario">Salário</label>
                        <input type="text" class="form-control" name="salario" onkeypress="mascarar(this,moeda)"
                               id="validationSalario">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="observacao">Alguma observação? </label>
                        <input type="text" class="form-control" name="observacao" id="observacao" value="">
                        <div class="valid-feedback">
                            Ok!
                        </div>
                    </div>
<!--                    <div class="col-md-6 mb-3">-->
<!--                        <label for="beneficio1">Benefícios</label>-->
<!--                        <input style="margin-top: 3px;" type="text" class="form-control" name="beneficios[0]"-->
<!--                               id="beneficio1" value="">-->
<!--                        <input style="margin-top: 3px;" type="text" class="form-control" name="beneficios[1]"-->
<!--                               id="beneficio2" value="">-->
<!--                        <input style="margin-top: 3px;" type="text" class="form-control" name="beneficios[2]"-->
<!--                               id="beneficio3" value="">-->
<!--                        <input style="margin-top: 3px;" type="text" class="form-control" name="beneficios[3]"-->
<!--                               id="beneficio4" value="">-->
<!--                    </div>-->
<!--                    <div class="col-md-6 mb-3">-->
<!--                        <label for="habilidade1">Adidione até 5 habilidades - Conhecimentos/Cursos/Treinamentos</label>-->
<!--                        <input style="margin-top: 3px;" type="text" class="form-control" name="descricaoHabilidades[0]"-->
<!--                               id="habilidade1" value="">-->
<!--                        <input style="margin-top: 3px;" type="text" class="form-control" name="descricaoHabilidades[1]"-->
<!--                               id="habilidade2" value="">-->
<!--                        <input style="margin-top: 3px;" type="text" class="form-control" name="descricaoHabilidades[2]"-->
<!--                               id="habilidade3" value="">-->
<!--                        <input style="margin-top: 3px;" type="text" class="form-control" name="descricaoHabilidades[3]"-->
<!--                               id="habilidade4" value="">-->
<!--                        <input style="margin-top: 3px;" type="text" class="form-control" name="descricaoHabilidades[4]"-->
<!--                               id="habilidade5" value="">-->
<!--                    </div>-->
                    <div class="col-md-6 mb-4" style="margin-left: 2px;">
                        <label for="responsabilidades">Responsabilidades</label>
                        <textarea class="form-control" name="responsabilidade" id="responsabilidades"
                                  style="width: 40vh;margin-right: 3px;"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="dataLimite">Data limite para inscrição</label>
                            <input type="date" class="form-control" name="dataLimite" id="dataLimite">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="turno">Turno</label>
                            <input type="text" class="form-control" name="turno" id="turno">
                        </div>
                    </div>
                </div>
                <div style="display:none">
                    <input id="esconderVaga" value="false">
                </div>
                <button class="btn btn-primary" style="margin-top: 10px;"
                        type="submit">Salvar
                </button>
            </form>
            <div class="col-sm-7" id="postResultDiv">
            </div>
            <div class="col" id="sucesso" style="display:none; color:green">

            </div>
            <div class="col" id="erro" style="display:none; color:red">

            </div>
        </main>

        <div th:replace="admin/fragments/fragment :: footer"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/validarPostAdmin.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/datatables-demo.js"></script>
</body>
</html>
