<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:replace="admin/fragments/fragment :: cabecalho"></div>

<body class="sb-nav-fixed">

<div th:replace="admin/fragments/fragment :: navbar"></div>

<div id="layoutSidenav">

    <div th:replace="admin/fragments/fragment :: sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <section>
                <div class="container-md" style="width: 100%; margin-top:10px;">
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">
                            <div class="row">
                                <span class="font-weight-bold">Vagas encontradas: </span>
                                <span class="font-weight-bold" th:utext="${vagaFiltro.numeroVagasEncontradas} "></span>
                            </div>
                        </li>
                    </ol>
                    <div class="card shadow-sm bg-white rounded" style="margin-top: 20px" th:each="vaga : ${vaga}">
                        <div class="card">
                            <div class="card-header">
                                <a th:href="@{/vaga/buscar/{id}(id=${vaga.id})}">
                                    <h4>Detalhes</h4>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title" th:text="${vaga.titulo}"></h5>
                                    </div>
                                    <div class="col" th:switch="${vaga.status}">
                                        <a th:case="'ATIVA'" id="vagaAtiva" type="button"
                                           th:href="@{/vaga/status/{id}(id=${vaga.id})}"
                                           style="float: right;"
                                           class="btn btn-success">Ativa</a>
                                        <a th:case="'OCULTA'" id="vagaOculta" type="button"
                                           th:href="@{/vaga/status/{id}(id=${vaga.id})}"
                                           style="float: right;"
                                           class="btn btn-danger">Oculta</a>
                                    </div>
                                </div>

                                <div class="container-fluid" >
                                    <p class="card-text" th:utext="${vaga.responsabilidade}"></p>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <a th:href="@{/vaga/inscritos/{id}(id=${vaga.id})}">
                                            <h5 class="card-title"
                                                style="font-weight: bold; color: #3e3ea7; padding-top: 3px;">
                                                <p><span th:text="${vaga.numeroInscritos}"></span> Inscritos</p>
                                            </h5>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-danger"
                                                data-toggle="modal" data-target="#modalExcluir"
                                                style="float: right;"
                                                th:onclick="'setaDadosModal('+${vaga.id}+')'">
                                            Excluir
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>

        <div th:replace="admin/fragments/fragment :: footer"></div>
    </div>
</div>

<--Modal>

<div id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deseja deletar a vaga mesmo?</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form action="/vaga/deletar" class="search" method="get">
                        Número vaga: <input id="vaga" name="vaga" type="text" value="vaga" readonly="readonly"/>
                        <br><br>
                        <input style="margin-left: 75%;" id="btnBusca" type="submit" value="Deletar"
                               class="btn btn-danger"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/datatables-demo.js"></script>
</body>
</html>
