<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:replace="admin/fragments/fragment :: cabecalho"></div>

<body class="sb-nav-fixed">

<div th:replace="admin/fragments/fragment :: navbar"></div>

<div id="layoutSidenav">

    <div th:replace="admin/fragments/fragment :: sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <div class="container-fluid">
                <h1 class="mt-4">Cadastro Nova Vaga</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dados necessários</li>
                </ol>
            </div>
            <form method="post" class="needs-validation"
                  novalidate style="margin-left: 20px;margin-right: 20px; margin-top: 20px;" id="formAtualizarEmpresa">
                <div class="form-row">
                    <div class="col-md-6 mb-3" >
                        <label for="validationServer01">Razão Social </label>
                        <input type="text" class="form-control" th:field="*{empresa.razaoSocial}" id="razaoSocial" value="">
                        <div class="valid-feedback">
                            Ok!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3" >
                        <label for="validationServer01">Cnpj </label>
                        <input type="text" class="form-control" th:field="*{empresa.cnpj}" id="cnpj" value="">
                        <div class="valid-feedback">
                            Ok!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3" >
                        <label for="validationServer01">Representante </label>
                        <input type="text" class="form-control" th:field="*{empresa.representante}" id="representante" value="">
                        <div class="valid-feedback">
                            Ok!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3" >
                        <label for="validationServer01">Telefone </label>
                        <input type="text" class="form-control" th:field="*{empresa.telefone}" id="telefone" value="">
                        <div class="valid-feedback">
                            Ok!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3" >
                        <label for="validationServer01">Rua </label>
                        <input type="text" class="form-control" th:field="*{empresa.rua}" id="rua" value="">
                        <div class="valid-feedback">
                            Ok!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3" >
                        <label for="validationServer01">Bairro </label>
                        <input type="text" class="form-control" th:field="*{empresa.bairro}" id="bairro" value="">
                        <div class="valid-feedback">
                            Ok!
                        </div>
                    </div>
                </div>
                <div style="display:none">
                    <input id="esconderVaga" value="false">
                </div>
                <button class="btn btn-primary" style="margin-top: 10px;"
                        type="submit">Salvar
                </button>
            </form>
            <div class="col-sm-7" id="postResultDiv">
            </div>
        </main>

        <div th:replace="admin/fragments/fragment :: footer"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/validarPostAdmin.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/datatables-demo.js"></script>
</body>
</html>
