<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:replace="candidato/fragments/fragment :: cabecalho"></div>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="candidato/fragments/fragment :: sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="candidato/fragments/fragment :: topbar"></div>
            <!-- End of Topbar -->

            <div class="container-fluid">

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Seu painel</h1>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Ações pendentes</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Approach -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Resumo</h6>
                    </div>
                    <div class="card-body">
                        <p>Seja bem vindo ao sistema de contratações, selecione as vagas de sua preferência e se candidate agora.</p>
                        <p class="mb-0">Caso seu perfil esteja de acordo, você receberá um e-mail para agendarmos uma entrevista.</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <div th:replace="candidato/fragments/fragment :: footer"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Logout Modal-->
<div th:replace="candidato/fragments/fragment :: modalSair"></div>

<script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="/js/sb-admin-2.min.js"></script>
<script type="text/javascript" src="/vendor/chart.js/Chart.min.js"></script>
<script type="text/javascript" src="/js/demo/chart-area-demo.js"></script>
<script type="text/javascript" src="/js/demo/chart-pie-demo.js"></script>

</body>
</html>
