<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:replace="admin/fragments/fragment :: cabecalho"></div>

<body class="sb-nav-fixed">

<div th:replace="admin/fragments/fragment :: navbar"></div>

<div id="layoutSidenav">

    <div th:replace="admin/fragments/fragment :: sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <div class="container-md" style="width: 100%;">
                <h1 class="mt-4">Cadastro Completo Candidato</h1>
                <section>
                    <div class="container-md" style="width: 100%;">
                        <br>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-4"><li class="breadcrumb-item active">Dados Pessoais</li>
                            </ol>
                        </nav>
                        <div class="card shadow-sm bg-white rounded" style="margin-top: 20px" th:each="dadosPessoais : ${dadosPessoais}">
                            <div class="card-body">
                                <p class="card-text">Nome Completo : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.nomeCompleto,400)} "></span></p>
                                <p class="card-text">E-mail : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(cliente.email,400)} "></span></p>
                                <br>
                                <p class="card-text">Idade : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.idade,400)} "></span></p>
                                <p class="card-text">Data Nascimento : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.dataNascimento,400)} "></span></p>
                                <p class="card-text">Sexo : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.sexo,400)} "></span></p>
                                <p class="card-text">Nome social : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.nomeSocial,400)} "></span></p>
<!--                                <p class="card-text">Estado Cívil : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.estadoCivil,400)} "></span></p>-->
<!--                                <p class="card-text">Nome da mãe : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.nomeMae,400)} "></span></p>-->
                                <p class="card-text">Naturalidade : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.naturalidade,400)} "></span></p>
<!--                                <p class="card-text">Telefone : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.telefone,400)} "></span></p>-->
                                <p class="card-text">Celular : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.celular,400)} "></span></p>
                                <p class="card-text">Formação : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.formacao,400)} "></span></p>
                                <p class="card-text">Curso : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.curso,400)} "></span></p>
<!--                                <p class="card-text">Experiência : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.experiencia,400)} "></span></p>-->
                                <p class="card-text">Categoria : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.categoria,400)} "></span></p>
                                <p class="card-text">Pretensão Salarial : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.pretensaoSalarial,400)} "></span></p>
<!--                                <p class="card-text">Tipo Condução : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.tipoConducao,400)} "></span></p>-->
                                <p class="card-text">Cidade : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosPessoais.cidade,400)} "></span></p>
                            </div>
                        </div>
                        <br>
                        <ol class="breadcrumb mb-4"><li class="breadcrumb-item active">Endereço</li>
                        </ol>
                        <div class="card shadow-sm bg-white rounded" style="margin-top: 20px" th:each="dadosAdicionais : ${dadosAdicionais}">
                            <div class="card-body">
                                <p class="card-text">Estado : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosAdicionais.estado,400)} "></span></p>
                                <p class="card-text">Cidade : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosAdicionais.cidade,400)} "></span></p>
                                <p class="card-text">Bairro : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosAdicionais.bairro,400)} "></span></p>
                                <p class="card-text">CEP : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosAdicionais.cep,400)} "></span></p>
                                <p class="card-text">Rua : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosAdicionais.endereco,400)} "></span></p>
                                <p class="card-text">Número : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosAdicionais.numero,400)} "></span></p>
                                <p class="card-text">Referência : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(dadosAdicionais.referencia,400)} "></span></p>
                            </div>
                        </div>
<!--                        <br>-->
<!--                        <ol class="breadcrumb mb-4"><li class="breadcrumb-item active">Experiência</li>-->
<!--                        </ol>-->
<!--                        <div class="card shadow-sm bg-white rounded" style="margin-top: 20px" th:each="experiencia : ${experiencia}">-->
<!--                            <div class="card-body">-->
<!--                                <p class="card-text">Possui : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(experiencia.possui,400)} "></span></p>-->
<!--                                <p class="card-text">Cargo : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(experiencia.cargo,400)} "></span></p>-->
<!--                                <p class="card-text">Data Inicio : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(experiencia.dataInicio,400)} "></span></p>-->
<!--                                <p class="card-text">Data Fim : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(experiencia.dataFim,400)} "></span></p>-->
<!--                                <p class="card-text">Salário : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(experiencia.salario,400)} "></span></p>-->
<!--                                <p class="card-text">Categoria : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(experiencia.categoria,400)} "></span></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <br>-->
<!--                        <ol class="breadcrumb mb-4"><li class="breadcrumb-item active">Resumo Profissional</li>-->
<!--                        </ol>-->
<!--                        <div class="card shadow-sm bg-white rounded" style="margin-top: 20px" th:each="habilidades : ${habilidades}">-->
<!--                            <div class="card-body">-->
<!--                                <p class="card-text">Resumo : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(habilidades.resumoProfissional,400)} "></span></p>-->
<!--                                <p class="card-text">Cargo : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(habilidades.objetivos,400)} "></span></p>-->
<!--                                <p>Habilidades :-->
<!--                                    <div th:each="listaHabilidades : ${listaHabilidades}">-->

<!--                                <p class="card-text">º <span style="color:#FF0000;" th:utext="${#strings.abbreviate(listaHabilidades,400)} "></span></p></div>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
                        <br>
                        <ol class="breadcrumb mb-4"><li class="breadcrumb-item active">RG</li>
                        </ol>
                        <div class="card shadow-sm bg-white rounded" style="margin-top: 20px" th:each="registro : ${registro}">
                            <div class="card-body">
                                <p class="card-text">Órgão emissor : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(registro.orgaoEmissor,400)} "></span></p>
                                <p class="card-text">Estado : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(registro.estado,400)} "></span></p>
                                <p class="card-text">Data expedição : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(registro.dataExpedicao,400)} "></span></p>
                                <p class="card-text">Número : <span style="color:#FF0000;" th:utext="${#strings.abbreviate(registro.numero,400)} "></span></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>

        <div th:replace="admin/fragments/fragment :: footer"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/datatables-demo.js"></script>
</body>
</html>
