<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:replace="admin/fragments/fragment :: cabecalho"></div>

<body class="sb-nav-fixed">

<div th:replace="admin/fragments/fragment :: navbar"></div>

<div id="layoutSidenav">

    <div th:replace="admin/fragments/fragment :: sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <br>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <div class="container">
                <div class="  ">
                    <div class="card mb-3">
                        <h3 class="card-header">Filtrar candidatos</h3>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="bs-component">
                                        <form class="input-group mb-3" method="get" action="/filtro/buscarCandidato">
                                            <input type="text" name="nome" class="form-control" placeholder="Digite o nome do candidato" aria-label="Recipient's username" aria-describedby="button-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="page-header">
                                    <h1 id="tables"></h1>
                                </div>
                                <div class="bs-component">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">Nome</th>
                                            <th scope="col">Idade</th>
                                            <th scope="col">Curso</th>
                                            <th scope="col">Categoria</th>
                                            <th scope="col">Cidade</th>
                                            <th scope="col">Cadastro</th>
<!--                                            <th scope="col">Entrevista</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="cliente : ${cliente}">
                                            <th th:utext="${#strings.abbreviate(cliente.nomeCompleto,400)} "></th>
                                            <td th:utext="${#strings.abbreviate(cliente.idade,400)} "></td>
                                            <td th:utext="${#strings.abbreviate(cliente.curso,400)} "></td>
                                            <td th:utext="${#strings.abbreviate(cliente.categoria,400)} "></td>
                                            <td th:utext="${#strings.abbreviate(cliente.cidade,400)} "></td>
                                            <td> <a class="btn btn-info"
                                                    th:href="@{/filtro/buscarCandidato/{id}(id=${cliente.idUsuario})}"
                                                    role="button"
                                                    target="_blank">Mais
                                            </a></td>
<!--                                            <td><a class="btn btn-info"-->
<!--                                                   th:href="@{/entrevista/criar/{id}(id=${cliente.idUsuario})}"-->
<!--                                                   role="button" >Agendar-->
<!--                                            </a></td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div th:replace="admin/fragments/fragment :: footer"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/datatables-demo.js"></script>
</body>
</html>
