<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:replace="candidato/fragments/fragment :: cabecalho"></div>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="candidato/fragments/fragment :: sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="candidato/fragments/fragment :: topbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-md" style="width: 100%;">

                <form action="/candidato/vaga/filtrar" method="get">
                    <div class="row">
                        <div class="col">
                            <label >Formação: </label>
                            <select class="form-control" id="exampleSelect2" name="formacao">
                                <option selected disabled value="">Selecione..</option>
                                <option value="Ensino Medio Incompleto" th:selected="('Ensino Medio Incompleto' == *{filtro.formacao})">Ensino Médio Incompleto</option>
                                <option value="Ensino Medio Completo" th:selected="('Ensino Medio Completo' == *{filtro.formacao})">Ensino Médio Completo</option>
                                <option value="Ensino Superior Incompleto" th:selected="('Ensino Superior Incompleto' == *{filtro.formacao})">Ensino Superior Incompleto</option>
                                <option value="Ensino Superior Completo" th:selected="('Ensino Superior Completo' == *{filtro.formacao})" >Ensino Superior Completo</option>
                                <option value="Pos-graduacao Incompleta" th:selected="('Pos-graduacao Incompleta' == *{filtro.formacao})">Pós-graduação Incompleta</option>
                                <option value="Pos-graduacao Completa" th:selected="('Pos-graduacao Completa' == *{filtro.formacao})">Pós-graduação Completa</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="validationServer04">Categoria</label>
                            <select class="form-control" name="categoria" id="validationServer04" >
                                <option selected disabled value="">Selecione...</option>
                                <option value="CLT" th:selected="('CLT' == *{filtro.categoriaFiltro})">CLT</option>
                                <option value="ESTAGIO" th:selected="('ESTAGIO' == *{filtro.categoriaFiltro})">ESTAGIO</option>
                                <option value="JOVEMAPRENDIZ" th:selected="('JOVEMAPRENDIZ' == *{filtro.categoriaFiltro})">JOVEM APRENDIZ</option>
                                <option value="PCD" th:selected="('PCD' == *{filtro.categoriaFiltro})">PCD</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label >Endereço: </label>
                            <select class="form-control" id="exampleSelect3" name="cidade">
                                <option selected disabled value="">Selecione...</option>
                                <option value="Campinas" th:selected="('Campinas' == *{filtro.cidade})">Campinas</option>
                                <option value="Hortolandia" th:selected="('Hortolandia' == *{filtro.cidade})">Hortolândia</option>
                                <option value="Sumare" th:selected="('Sumare' == *{filtro.cidade})">Sumaré</option>
                                <option value="Valinhos" th:selected="('Valinhos' == *{filtro.cidade})">Valinhos</option>
                                <option value="Vinhedo" th:selected="('Vinhedo' == *{filtro.cidade})">Vinhedo</option>
                                <option value="Louveira" th:selected="('Louveira' == *{filtro.cidade})">Louveira</option>
                                <option value="Monte-mor" th:selected="('Monte-mor' == *{filtro.cidade})">Monte-mor</option>
                                <option value="Paulinia" th:selected="('Paulinia' == *{filtro.cidade})">Paulínia</option>
                                <option value="Indaiatuba" th:selected="('Indaiatuba' == *{filtro.cidade})">Indaiatuba</option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success" style="margin-top: 15px">Filtrar</button>
                </form>

                <br>
                <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">
                            <div class="row">
                                <span class="font-weight-bold">Vagas encontradas: </span>
                                <span class="font-weight-bold" th:utext="${vagaFiltro.numeroVagasEncontradas} "></span>
                            </div>
                        </li>
                </ol>

                <div class="card shadow mb-4" style="margin-top: 20px;" th:each="vaga : ${vaga}">
                    <div class="card-header py-3">
                        <div class="row">
                            <div class="col">
                                <a th:href="@{/candidato/vaga/buscar/{id}(id=${vaga.id})}">
                                    <h6 class="m-0 font-weight-bold text-primary" th:text="${vaga.titulo}">
                                    </h6>
                                </a>
                            </div>
                            <div class="col">
                                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                <span class="m-0 font-weight-bold text-primary"
                                      th:utext="${vaga.cidade} "></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="font-weight-bold">Contrato -</span>
                                <span class="font-weight-bold" th:utext="${vaga.categoria} "></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p th:utext="${vaga.responsabilidade}">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="candidato/fragments/fragment :: footer"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="candidato/fragments/fragment :: modalSair"></div>

<!-- Bootstrap core JavaScript-->
<script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script type="text/javascript" src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script type="text/javascript" src="/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script type="text/javascript" src="/js/demo/chart-area-demo.js"></script>
<script type="text/javascript" src="/js/demo/chart-pie-demo.js"></script>

</body>
</html>
