#sucesso{
    margin-top: 15px;
    width: 50%;
    margin-left: 20px;
    display:none;
}

#erro{
    margin-top: 15px;
    width: 50%;
    margin-left: 20px;
    display:none;
}

.editarVerde {
    background-color: #318f05;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 8px 18px;
    transition-duration: 0.4s;
    color: white;
    margin-left: 3%;
}

.cancelarVermelho {
    background-color: #f44336;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 8px 18px;
    transition-duration: 0.4s;
    color: white;
    margin-right:3%;
}

#botaoAtualizar{
    margin-top : 10px;
    margin-bottom: 30px;
    margin-left: 630px;
}